body {
  margin: 0;
  font-family: Georgia;
  background: orchid;
  padding: 30px;
}
.about .post img {
  position: absolute;
  top: 20px;
  left: 100px;
  opacity: 0.6;
}
.about .post {
  overflow: hidden;
  padding-left: 80px;
}
